@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
	--nav-scale-to: 1.1;
}

@layer components {
	.text-v-xl {
		transform: scale(1, var(--nav-scale-to));
		-webkit-transform: scale(1, var(--nav-scale-to)); /* Safari and Chrome */
		-moz-transform: scale(1, var(--nav-scale-to)); /* Firefox */
		-ms-transform: scale(1, var(--nav-scale-to)); /* IE 9+ */
		-o-transform: scale(1, var(--nav-scale-to)); /* Opera */
	}
}

@layer base {
	h1, h2, h3, h4, h5, h6 {
		@apply font-title;
	}
	
	h1 { @apply text-4xl }
	h2 { @apply text-3xl }
	h3 { @apply text-2xl }
	h4 { @apply text-xl }
	h5 { @apply text-lg }
	h6 { @apply text-lg}
	
	div, a, p, body {
		@apply font-body;
		@apply text-base;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
